<img src="" alt="Paston" height="50" width="50">

<ul id="header-nav" class="nav">
<li class="nav-item">
    <a class="nav-link" [routerLink]="['/apuestas-deportivas']">
        <label>APUESTAS</label>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" [routerLink]="['/esports']">
        <label>eSPORTS</label>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" [routerLink]="['/casino']">
        <label>CASINO</label>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" [routerLink]="['/slots']">
        <label>SLOTS</label>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" [routerLink]="['/promociones']">
        <label>PROMOCIONES</label>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" [routerLink]="['/entrar']">
        <label>ENTRA</label>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" [routerLink]="['/registro']">
        <label>REGÍSTRATE</label>
    </a>
</li>
</ul>